# What are lists in R?

## List is a special type of a dataset that contains different types of data within it. Each element within the data can be totally different. Its a sort of versitle object.

In [1]:
my_list <- list(5, "Hello", FALSE, c(2, 3, 4))
my_list

[[1]]
[1] 5

[[2]]
[1] "Hello"

[[3]]
[1] FALSE

[[4]]
[1] 2 3 4

# Each element of list can also be named by a function "names"

In [3]:
names(my_list) <- c("Jay1", "Jay2", "Jay3", "Jay4")
my_list

$Jay1
[1] 5

$Jay2
[1] "Hello"

$Jay3
[1] FALSE

$Jay4
[1] 2 3 4

# Each element can be accessed either by their name or their index

In [5]:
my_list[[4]]

[1] 2 3 4

In [8]:
my_list[["Jay2"]]  # This will only work when data element is named otherwise not.

[1] "Hello"