# R Basic operations

# Logicals

In [1]:
TRUE
FALSE

[1] TRUE

[1] FALSE

# Characters - Anything between single or double quotes

In [4]:
"Hello World"
'Hello World'

[1] "Hello World"

[1] "Hello World"

# Every object in R has a class, so how can we determine the class of any objects ? 
By the way anything in R is an object.

In [9]:
class("Hello World")
class('Hello World')
class(TRUE)
class(FALSE)
class(12)
class(class) # this is a function.

[1] "character"

[1] "character"

[1] "logical"

[1] "logical"

[1] "numeric"

[1] "function"

## Another function is str, which not only gives the information about the class but also some additional information too. For instance, a class and what it contains.

In [12]:
str("Hello World")
str('Hello World')
str(TRUE)
str(FALSE)
str(12)
str(class) # this is a function.

 chr "Hello World"
 chr "Hello World"
 logi TRUE
 logi FALSE
 num 12
 num 12.2
function (x)

### chr is for character, logi is for logical , num is for numeric

# Basic arthmetics

In [14]:
8 + 4 # addition 
8 - 4 # substractiom 
8 / 4 # Division 
8 ^ 4 # Exponent 
9 %% 4 # Modulo , finding a remainder 
14 %% 3

[1] 12

[1] 4

[1] 2

[1] 4096

[1] 1

[1] 2

# How to do comparision

In [18]:
2 == 2   #    == is used for equal 
2 != 5   #   != not equal
2 < 5    #   less than
4 > 2    #   greater than
4 <= 4   #   less than or equal
5 >= 4   #   greater than or equal

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

# Vectors

## It is a sequence of data with same data types. It is the most basic unit for storing data. the complex data can be broken down into smaller units like vectors. So how to create vectors. One way is to use "c" which stands for "Concatenate". Lets try then..

In [20]:
c(1, 2, 3)
c("Jack", "Jimmy", "Susan")
c(TRUE, FALSE, TRUE)

[1] 1 2 3

[1] "Jack"  "Jimmy" "Susan"

[1]  TRUE FALSE  TRUE

In [25]:
c(Jack, Jimmy, Susan)  # it will give an error as I didnt define the charcters and R is looking for variable and thet
                        # are not.

ERROR: Error in eval(expr, envir, enclos): object 'Jack' not found

In [30]:
num_vec <- 1:10
num_vec

 [1]  1  2  3  4  5  6  7  8  9 10

In [32]:
num_vec <- seq(5)
num_vec

[1] 1 2 3 4 5

In [35]:
seq(1, 10) # first argument 1 defines the start while 10 idefines the last. By default, is to go by an increment of 1.

 [1]  1  2  3  4  5  6  7  8  9 10

In [38]:
seq(1, 10, 2) # So I have changed the incremnt by 2. So we can use third argument, for instance "2" in this case

[1] 1 3 5 7 9

# Another function "names" is also used to assign names to the entries of the vector

In [34]:
bio_marks <- c(80, 90, 88)
students <- c("Jack", "Jimmy", "Susan")
names(bio_marks) <- students
bio_marks

 Jack Jimmy Susan
   80    90    88

# So lets see how we do subsetting, meaning that how to target a seocifc value in a vector. So for that we use square bracket [] to access the element of the vector.

In [39]:
students[1]

[1] "Jack"

In [40]:
students[3]

[1] "Susan"

In [41]:
students[c(1,3)]

[1] "Jack"  "Susan"

In [43]:
students[1:3]

[1] "Jack"  "Jimmy" "Susan"